<a href="https://colab.research.google.com/github/zenca/Recommender-systems/blob/main/Content_Based_Recomendation_System_(con_35_g_copia_de_HCKanosn).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Content-based recomender System 1
No tengo datos del ususario solo los presentes, el ususario está viendo  o va a ver un item, obvio tengo datos de los Items, no tengo porque tener datos pasados de los otros ususarios, voy a usar la descripción de los ítem, no el genero ni los actores después los uso, no los ratings

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [ ]:
datos1=pd.read_csv('/content/drive/MyDrive/DataScience/Archivos/movies_metadata.csv') 
datos1.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer# Para hacer TF-IDF matrix

In [ ]:
datos1['overview'] = datos1['overview'].fillna('')

In [ ]:
vectorizador1 = TfidfVectorizer(stop_words='english')
a=vectorizador1.fit_transform(datos1['overview'])
a.shape

(45466, 75827)

In [ ]:
vectorizador1.get_feature_names()[10000:10010]

['cabrell',
 'cabrini',
 'cabriolet',
 'cabs',
 'cacao',
 'cachal',
 'cache',
 'cachent',
 'caches',
 'cachette']

In [ ]:
from sklearn.metrics.pairwise import linear_kernel#este es un poc más rápido

In [ ]:
cosine_sim = linear_kernel(a, a)

In [ ]:
cosine_sim.shape

(45466, 45466)

In [ ]:
cosine_sim[1]#un vestor de similaridad

array([0.01504121, 1.        , 0.04681953, ..., 0.        , 0.02198641,
       0.00929411])

In [ ]:
#Voy a poner como indices los títulos de las películas.
indices = pd.Series(datos1.index, index=datos1['title']).drop_duplicates()

In [ ]:
datos1.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [ ]:
datos1.index

RangeIndex(start=0, stop=45466, step=1)

In [ ]:
indices[:5]

title
Toy Story                      0
Jumanji                        1
Grumpier Old Men               2
Waiting to Exhale              3
Father of the Bride Part II    4
dtype: int64

In [ ]:
#Construyo una funicón que me de recomendaciones si yo le doy una película, basada solo en los comentarios.
def movies_recomendadas(title, cosine_sim=cosine_sim):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    movie_indices = [i[0] for i in sim_scores]

    return datos1['title'].iloc[movie_indices]

In [ ]:
movies_recomendadas('Forrest Gump')

10966       An American Haunting
13513             Nigdy w życiu!
22372             The Lost Thing
31468                     Carver
9214                 Crane World
19554     The Marshal of Finland
29006    For a Handful of Kisses
39672                  U Be Dead
40018               Down by Love
30256                   Lucky 13
Name: title, dtype: object

In [ ]:
datos1.loc[22372]

adult                                                                False
belongs_to_collection                                                  NaN
budget                                                                   0
genres                   [{'id': 16, 'name': 'Animation'}, {'id': 18, '...
homepage                                                               NaN
id                                                                   58515
imdb_id                                                          tt1669698
original_language                                                       en
original_title                                              The Lost Thing
overview                 A boy finds a strange creature on a beach, and...
popularity                                                          2.1134
poster_path                               /4vnvrefGIaCTj23yDGBT9h6qTT9.jpg
production_companies                                                    []
production_countries                                                    []
release_date                                                    2010-01-01
revenue                                                                  0
runtime                                                                 15
spoken_languages                                                        []
status                                                            Released
tagline                                                                NaN
title                                                       The Lost Thing
video                                                                False
vote_average                                                           6.6
vote_count                                                              21
Name: 22372, dtype: object

In [ ]:
movies_recomendadas('Toy Story')

15348                                     Toy Story 3
2997                                      Toy Story 2
10301                          The 40 Year Old Virgin
24523                                       Small Fry
23843                     Andy Hardy's Blonde Trouble
29202                                      Hot Splash
43427                Andy Kaufman Plays Carnegie Hall
38476    Superstar: The Life and Times of Andy Warhol
42721    Andy Peters: Exclamation Mark Question Point
8327                                        The Champ
Name: title, dtype: object

In [ ]:
#Cualquier cosa veo si lo puedo mejorar voy a usar otroa información. Voy a juntar con otros datos para poder usar 
#directores etc, tengo que limpiar un poco los datos

In [ ]:
keywords = pd.read_csv('/content/drive/MyDrive/DataScience/Archivos/keywords.csv')

In [ ]:
datos1.loc[29503]

adult                     Rune Balot goes to a casino connected to the ...
belongs_to_collection                                             1.931659
budget                                    /zV8bHuSL6WXoD6FWogP9j4x80bL.jpg
genres                   [{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...
homepage                 [{'iso_3166_1': 'US', 'name': 'United States o...
id                                                              2012-09-29
imdb_id                                                                  0
original_language                                                     68.0
original_title                        [{'iso_639_1': 'ja', 'name': '日本語'}]
overview                                                          Released
popularity                                                             NaN
poster_path                            Mardock Scramble: The Third Exhaust
production_companies                                                 False
production_countries                                                   7.0
release_date                                                            12
revenue                                                                NaN
runtime                                                                NaN
spoken_languages                                                       NaN
status                                                                 NaN
tagline                                                                NaN
title                                                                  NaN
video                                                                  NaN
vote_average                                                           NaN
vote_count                                                             NaN
Name: 29503, dtype: object

In [ ]:
datos2=datos1.drop([29503,19730,35587])# tienen fechas en lugar de index

In [ ]:
creditos = pd.read_csv('/content/drive/MyDrive/DataScience/Archivos/credits.csv')

In [ ]:
keywords['id'] = keywords['id'].astype('int')
creditos['id'] = creditos['id'].astype('int')
datos2['id'] = datos2['id'].astype('int')

In [ ]:
datos2= datos2.merge(creditos, on='id')
datos2 = datos2.merge(keywords, on='id')
datos2.head(3)

   adult  ...                                           keywords
0  False  ...  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1  False  ...  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  False  ...  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...

[3 rows x 27 columns]

In [ ]:
#datos2=datos2.drop(['cast','crew','keywords'], axis=1)
#datos2.head(3)

In [ ]:
#Convierto todo a objetos de Python
from ast import literal_eval

features = ['cast', 'crew', 'keywords', 'genres']
for feature in features:
    datos2[feature] = datos2[feature].apply(literal_eval)

In [ ]:
#datos2.loc[0,'crew']

In [ ]:
#Creo funbcion para obtener director
def obt_director(x):
  for i in x:
        if i['job'] == 'Director':
            return i['name']
  return np.nan

In [ ]:
#Creo funcion para obtener los crew , cast y genres
def get_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        if len(names) > 3:
            names = names[:3]
        return names

    
    return []

In [ ]:
datos2['director'] = datos2['crew'].apply(obt_director)

features = ['cast', 'keywords', 'genres']
for feature in features:
    datos2[feature] = datos2[feature].apply(get_list)

In [ ]:
datos2.head()

   adult  ...         director
0  False  ...    John Lasseter
1  False  ...     Joe Johnston
2  False  ...    Howard Deutch
3  False  ...  Forest Whitaker
4  False  ...    Charles Shyer

[5 rows x 28 columns]

In [ ]:
#limpio y ordeno las nuevas columnas
def limpiar_data(x):
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [ ]:
features2 = ['cast', 'keywords', 'director', 'genres']

for feature in features2:
    datos2[feature] = datos2[feature].apply(limpiar_data)

In [ ]:
datos2.head()

   adult  ...        director
0  False  ...    johnlasseter
1  False  ...     joejohnston
2  False  ...    howarddeutch
3  False  ...  forestwhitaker
4  False  ...    charlesshyer

[5 rows x 28 columns]

In [ ]:
#Junto todo en un mismo lugar
def create_soup(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['genres'])

In [ ]:
datos2['soup'] = datos2.apply(create_soup, axis=1)
datos2[['soup']].head()

                                                soup
0  jealousy toy boy tomhanks timallen donrickles ...
1  boardgame disappearance basedonchildren'sbook ...
2  fishing bestfriend duringcreditsstinger walter...
3  basedonnovel interracialrelationship singlemot...
4  baby midlifecrisis confidence stevemartin dian...

In [ ]:
datos2.head()

   adult  ...                                               soup
0  False  ...  jealousy toy boy tomhanks timallen donrickles ...
1  False  ...  boardgame disappearance basedonchildren'sbook ...
2  False  ...  fishing bestfriend duringcreditsstinger walter...
3  False  ...  basedonnovel interracialrelationship singlemot...
4  False  ...  baby midlifecrisis confidence stevemartin dian...

[5 rows x 29 columns]

In [ ]:
#Lo pas por TF-IDF ahora con Count Vectorizer
from sklearn.feature_extraction.text import CountVectorizer

contar = CountVectorizer(stop_words='english')
cont_matrix = contar.fit_transform(datos2['soup'])

NameError: ignored

In [ ]:
#le estudio la distancias a las palabras ahora si uso csine distance
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim2 = cosine_similarity(cont_matrix, cont_matrix)# No corre las distancias porque tengo 25 G y prece que necesita más lo dejo por acá pero de aquí es más es similar al primero

NameError: ignored

In [ ]:
datos2 =datos2.reset_index()
indices = pd.Series(datos2.index, index=datos2['title'])